---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Enabling you, the creator.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Welcome to our digital product development company! We are a dynamic and innovative team driven by our passion for transforming ideas into real-world designs and products that leave a lasting impact on the market.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        In our creative sanctuary, we thrive on the exhilarating journey of turning visions into reality. With a diverse blend of talents, ranging from visionary designers and brilliant engineers to perceptive market analysts, we come together as a force to reckon with.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Our daily mantra revolves around embracing the challenges that come our way. We believe that the most groundbreaking ideas are often born from the toughest obstacles. As a team, we relish stepping out of our comfort zones, navigating uncharted waters, and reveling in the thrill of discovery.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        At the core of our philosophy lies a deep-rooted commitment to understanding the needs and desires of our clients. We take the time to listen, to empathize, and to envisage the future they envision. Armed with this intimate understanding, we embark on our collective journey of creation.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Our design process is akin to an elaborate dance, where aesthetics and functionality blend seamlessly to bring forth stunning and intuitive products.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        In the ever-evolving landscape of digital product development, we stand tall as trailblazers, embracing change with open arms. Together, we march forward, fueled by the excitement of unlocking new possibilities and crafting products that leave indelible imprints on the world.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        So, if you have a spark of an idea that you wish to see manifest into reality, rest assured that our anonymous team is here, ready to transform your dreams into digital masterpieces that resonate with hearts and minds alike. Join us on this exhilarating journey of creation, innovation, and impact. Together, let's shape the future.
      </p>
    </div>
  </Container>
</Layout>
