---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Mechanical Design & Development",
    description:
      "Build your prototype or minimal viable product. I can provide a CAD file package (parts, assemblies, and drawings).",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Customer-Driven Design",
    description:
      "Enable follows a customer-driven design approach. If you need assistance creating a design or mapping out which design is best suitable for your minimal viable product, we can provide an in-depth analysis based on your needs and transform that into a few mockups.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Design for Additive Manufacturing (DfAM)",
    description:
      "We're able to create designs optimized for additive manufacturing. Technologies worked with include: FDM/FFF, SLA, MSLA/DLP, DMLS.",
    icon: "bx:bxs-data",
  },
  {
    title: "Rapid Prototyping",
    description:
      "Enable can produce mock-ups or prototypes of your design quickly and effectively, ensuring your rapid iteration of your product.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Technical Writing/Documentation",
    description:
      "We can provide assistance with generating technical articles, essays, marketing material that covers the essence of your product.",
    icon: "bx:bxs-file-find",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Driving your product design home while maintaining your input first above all.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Enable works alongside you every step of the way to develop a design that respresents your vision. It takes the best parts of state-of-the-art
    tools and adds your own requirements.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
