---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <img src="/public/icons8-autodesk-48.png" alt="Autodesk.">
    <img src="/public/icons8-ptc-creo-64.png" alt="PTC Creo.">
    <img src="/public/icons8-solidworks-50.png" alt="Solidworks.">
  </div>
</div>
